.query {
    background-color: #eeecec;
    min-width: 320px;
    width: 100vw;
    /* min-height: 100vh; */
    padding-top: 112px;
}

.query p {
    font-size: 16px;
    font-weight: 300;
    color: black;
}

.query h1 {
    letter-spacing: 0.1rem;
    color: #e95d4f;
    font-size: 20px;
}

.query__grid {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    grid-gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, auto);

}

.query__header {
    padding: 0;
    grid-column: span 4;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.query__tab-bar {
    background-color: transparent;
    grid-column: 1 / 4;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.query__tab-button {
    background-color: green;
    padding: 4px;
}

.query__source {
    background-color: transparent;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    ;
}

.query__source p {
    margin: 0;
    font-size: 8px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1.5px;
    color: black;
    text-transform: uppercase;
}

.query__source a {
    line-height: 2;
    margin: 0;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #ee8176;
    padding-left: 4px;
}

.query__dropdown-bar {
    background-color: #e95d4f;
    grid-column: span 4;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 8px 0;
}

.query__dropdown-bar p {
    color: white;
}

.query__dropdown-bar .query__dropdown {
    background-color: transparent;
    /* border: 1px solid black; */
    color: white;
}

.query__drop-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#current-group p {
    font-weight: 400;
    ;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 41px;
    background-color: #e95d4f;
    z-index: 10000;

}

.query__dropdown-bar.show .dropdown-content {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

.dropdown-button {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
}

.dropdown-button:hover {
    outline: none;
    /* border-bottom: 1px solid white; */
}

.dropdown-button:hover p {
    outline: none;
    border-bottom: 1px solid white;
    font-weight: 400;
}

.query__help {
    grid-column: span 4;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
}

.query__help__icon {
    background-color: #e95d4f;
    min-width: 32px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    color: white;
    border-radius: 16px;

}

.query__help p {
    margin: 0;
    font-size: 8px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1.5px;
    color: black;
    text-transform: uppercase;
}


.query__list {
    display: none;
}

.query__list-item {}

.query__viz {
    background-color: transparent;
    grid-column: span 4;
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .main-svg {
    width: 100%;
} */

.draglayer,
.drag {
    z-index: -1;
}



/* landscape */
@media only screen and (orientation: landscape) {}

/* iPad */
@media only screen and (min-width : 768px) {
    .query {
        min-width: 768px;
        width: 100vw;
        /* min-height: 100vh; */
        padding-top: calc(56px + 72px);
        min-height: 60vh;
    }

    .query__grid {
        width: 100%;
        height: 100%;
        padding: 0 16px;
        grid-gap: 8px;
    }

    .query__dropdown-bar {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .query__help {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
    }


}

@media only screen and (min-width : 768px) {}

/* laptop with MDPI devtools */
@media only screen and (min-device-width : 1280px) {
    .query {
        max-width: 1920px;
        margin: 0 auto;
        padding-right: 12px;
        position: relative;
        width: 100vw;
        min-width: 1280px;
        height: 100vh;
        min-height: 800px;
        /* max-height: 100vh; */
        overflow-y: auto;
        overflow-x: hidden;
    }

    .query__grid {
        width: 100%;
        padding: 0 24px 24px;
        grid-gap: 16px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 64px repeat(8, 1fr);
        justify-content: center;
        height: auto;
        max-height: none;
        overflow-y: visible;

    }

    .query__source {
        background-color: transparent;
        grid-column: 10/13;
        grid-row: 1/2;

    }

    .query__header {
        padding: 0;
        background-color: white;
        grid-column: span 12;
        grid-row: 2/3;

    }

    .query__help {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 16px;
    }

    .query__dropdown-bar {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    .query__viz {
        background-color: transparent;
        grid-column: 4 / 13;
        grid-row: 3 / 9;
        align-self: flex-start;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid green;
        /* overflow-y: */
    }

    #geodemos-map {
        border: 1px solid black;
        grid-column: 1 /2;
        grid-row: 1 / 2;
    }

    #geodemos-chart {
        border: 1px solid black;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

}

@media only screen and (min-device-width : 1280px) and (max-width : 768px) {}

@media only screen and (min-width : 1920px) {}