.query {
    background-color: #eeecec;
    min-width: 320px;
    width: 100vw;
    min-height: 100vh;
    padding-top: 112px;
}

.query p {
    font-size: 16px;
    font-weight: 300;
    color: black;
}

.query h1 {
    letter-spacing: 0.1rem;
    color: #e95d4f;
    font-size: 20px;
}

.query__grid {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    grid-gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, auto);

}

.query__header {
    padding: 0;
    grid-column: span 4;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.query__tab-bar {
    background-color: transparent;
    grid-column: 1 / 4;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.query__tab-button {
    background-color: green;
    padding: 4px;
}

.query__source {
    background-color: transparent;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    ;
}

.query__source p {
    margin: 0;
    font-size: 8px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1.5px;
    color: black;
    text-transform: uppercase;
}

.query__source a {
    line-height: 2;
    margin: 0;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #ee8176;
    padding-left: 4px;
}

.query__dropdown-bar {
    background-color: #e95d4f;
    grid-column: span 4;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 8px 0;
}

.query__dropdown-bar p {
    color: white;

}

.query__dropdown-bar .query__dropdown {
    background-color: transparent;
    /* border: 1px solid black; */
    color: white;
}

.query__help {
    grid-column: span 4;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
}

.query__help__icon {
    background-color: #e95d4f;
    min-width: 32px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 8px;

}

.query__help p {
    margin: 0;
    font-size: 8px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1.5px;
    color: black;
    text-transform: uppercase;
}


.query__list {
    display: none;
}

.query__list-item {}

.query__viz {
    background-color: transparent;
    grid-column: span 4;
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* landscape */
@media only screen (orientation: landscape) {}

/* iPad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1279px) and (orientation: portrait) {}


@media only screen and (min-device-width : 768px) and (max-device-width : 1279px) and (orientation: landscape) {}


/* laptop with MDPI devtools */
@media only screen and (min-device-width : 1280px) {
    .query {
        min-width: 1280px;
        width: 100vw;
        max-width: 1920px;

    }

    .query__grid {
        width: 100%;
        padding: calc(56px + 64px) 24px 24px;
        grid-gap: 24px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 64px repeat(8, 1fr);
        justify-content: center;
    }

    .query__tab-bar {
        grid-column: span 4;
        grid-row: 1/2;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .query__tab-button {
        background-color: green;
        padding: 4px;
    }

    .query__source {
        background-color: white;
        grid-column: 10/13;
        grid-row: 1/2;

    }

    .query__header {
        background-color: white;
        grid-column: span 12;
        grid-row: 2/4;

    }

    .query__list {
        background-color: white;
        grid-column: span 2;
        grid-row: 4/9;
    }

    .query__list-item {}

    .query__chart-primary {
        background-color: white;
        grid-column: 3/9;
        grid-row: 4/10;

    }

    .query__chart-secondary {
        background-color: white;
        grid-column: 9/13;
        grid-row: 4/10;

    }



}

@media only screen and (min-device-width : 1280px) and (max-width : 768px) {}

@media only screen and (min-width : 1920px) {}