include ../component/subnav__icon-nav
mixin queries__subnav(classes)
    nav(class!=classes)
        //- #subnav 
        +subnav__icon-nav({
            title: "Geodemographics",
            link: "/queries/geodemos", 
            img: "../../images/icons/themes/demographics.svg#Layer_1",
        })
        +subnav__icon-nav({
            title: "Live Travel",
            link: "/queries/livetravel", 
            img: "../../images/icons/themes/transport.svg#Layer_1",
            classActive: ''
        })
        
    //-   +subnav__icon-nav({
    //-   title: "Environment",
    //-   link: "#environment", 
    //-   img: "../../images/icons/themes/environment.svg#Layer_1",
    //-   })
    //-   +subnav__icon-nav({
    //-   title: "Housing",
    //-   link: "#housing", 
    //-   img: "../../images/icons/themes/housing.svg#Layer_1",
    //-   })
    //-   +subnav__icon-nav({
    //-   title: "Economy",
    //-   link: "#economy", 
    //-   img: "../../images/icons/themes/economy.svg#Layer_1",
    //-   })
    //-   +subnav__icon-nav({
    //-   title: "Health",
    //-   link: "#health", 
    //-   img: "../../images/icons/themes/health.svg#Layer_1",
    //-   })
    //-   +subnav__icon-nav({
    //-   title: "Education",
    //-   link: "#education", 
    //-   img: "../../images/icons/themes/education.svg#Layer_1",
    //-   })
     
      //- a.active(href = "#transport") Transport
      //- a.active(href = "#environment") Environment
      //- a(href = "#housing") Housing
      //- a(href = "#economy") Economy
      //- a(href = "#education") Education
      //- //- a.subnav-link(href = "#health") Health
      //- a(href = "#demographics") Demographics
