extends ../layout
include ../component/card-sub-home

block append head
  link(rel="stylesheet", href="/stylesheets/lib/flickity.min.css")
  link(rel="stylesheet", href="/stylesheets/components/bcd-sub-home.css")

block navigation
  +bcd-navbar("bcd-navbar","/","Cork Dashboard", "Stories")

block content
  #sub-home 
    #sub-home__grid
      #sub-home__icon
        svg()
          use(href='/images/icons/icons-48px/Stories_Icon_48px.svg#Layer_1')
      #sub-home__title
        h1 Stories
      #sub-home__description
       p Data stories add context and meaning to 
          |the raw data available for the city. The 
          |stories below offer a narrative for issues affecting citizens 
          |of Cork, with key points supported through interactive visualisations. 
      #sub-home__carousel
        <div class="carousel" data-flickity='{ "freeScroll": true, "wrapAround": false, "freeScrollFriction": 0.05,"selectedAttraction": 0.05, "cellSelector": ".carousel-cell", "cellAlign": "left", "percentPosition": false, "pageDots": true, "adaptiveHeight": true}'>
          .carousel-cell
            +card-sub-home({
              title: "Housing in the Cork Region, 1991 to present",
              description: "<p>A three-part story describing the historical phases of the housing crisis in Cork.<p></p><p><i>New data story under construction, please check back soon.</i></p>",
              links: []
              })
          .carousel-cell
            +card-sub-home({title: 'Coming Soon', description: '<i>New data story under construction, please check back soon.</i>'})
          
        </div>

        //- {href :"/stories/housing-crisis-phase-1",
        //- name:'Phase 1: 1991-2003 (The Celtic Tiger years)'},
        //- {href :"/stories/housing-crisis-phase-2",
        //- name: 'Phase 2: 2007-2012 (the crash)'},
        //- {href :"/stories/housing-crisis-phase-3",
        //- name: 'Phase 3: 2013-present (post-crash)'}

block append scripts
  //- script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js" type="text/javascript")
  script(src="./lib/flickity.pkgd.min.js" type="text/javascript")

