//- accordion
mixin accordion(id)
  ul.accordion(id="accordion-"+id)
    block

mixin accordion-content(options = {id:'', title:'title', content:'Content will appear here when available', className:'Freddy'})
  li.accordion__item
    button.accordion__heading
      span
        != options.className
      svg(class="accordion__arrow" width="7" height="12" viewBox="0 0 7 12")
        path(fill-rule="nonzero" d="M5.569 5.994L0 .726.687 0l6.336 5.994-6.335 6.002L0 11.27z")
    .accordion__content
        != options.content
    //- optional content add in main view
    block
        
