mixin card-sub-home({id='',title='Title', icon='', description='Description',links=[]})
    div(class='sub-home__card')
      .card__header
        //- img(src= icon).card__icon
        h1.card__title=title
      .card__body
        div
          p!=description
                      
          each l in links
            p
              <a href= #{l.href}>#{l.name} </a>
          
        
      

        
                        
                    
