- var sideLinks = { "home": "", "themes": "themes", "stories": "stories", "queries": "queries", "tools": "tools", "portal": "portal"   }
- var themesLinks = { "Transport": "#transport", "Environment": "#environment", "Housing": "#housing", "Economy":"#economy","Education":"#education","Health":"#health","Demographics": "#demographics" }

mixin dropdown-item(name, link, parent)
  a.dropdown-item(href="/"+parent+link)= name