*,
::after,
::before {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto',
    sans-serif;

}

a {
  color: #e95d4f;
  text-decoration: none;
}

/* unvisited link */

a:link {
  text-decoration: none;
}

/* visited link */

a:visited {
  text-decoration: none;
}

/* mouse over link */

a:hover {
  text-decoration: none;
}

/* selected link */

a:active {
  text-decoration: none;
}

/* used with e.g. external-link icon */
a img {
  height: 8px;
  padding-left: 2px;
}

p,
h1,
h2,
h3 {
  color: #e95d4f;
}

/* used to colour text and arrows indicating trends */
.trend-up {
  color: green;
}

.trend-down {
  color: red;
}

.page__root {
  background-color: #eeecec;
}


*,
::after,
::before {
  box-sizing: border-box;
}