.accordion {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    cursor: pointer;
    width: 100%;
    color: #e95d4f;
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: baseline;
    -ms-flex-pack: start;
    justify-content: space-between;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 16px 8px;
    background-color: transparent;
    list-style: none;
}

.accordion h1 {
    letter-spacing: 0.1rem;
    color: #e95d4f;
    font-size: 20px;
}

.accordion::-moz-focus-inner {
    border: 0
}

.accordion:focus {
    outline: none;
}

.accordion:hover {
    outline: none;
}

.accordion.open {
    outline: none;
}

.accordion__arrow,
.dropdown__arrow {
    transition: all 150ms cubic-bezier(0.5, 0, 0.1, 1);
    height: 1.25rem;
    width: 1.25rem;
    padding: .25rem .125rem .25rem .25rem;
    margin: 0 0 0 .25rem;
    fill: #e95d4f;
    outline: none;
    overflow: visible;
    outline-offset: -0.5px
}

.dropdown__arrow {
    fill: white;
    transform: rotate(90deg);
}

.accordion.open .accordion__arrow {
    transform: rotate(90deg);
}

.accordion__content {
    transition: opacity 500ms, max-height 1000ms, padding 1500ms;
    max-height: 0;
    height: auto;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    width: 100%;
}

.accordion__content p {
    padding: 0 8px;
}

.accordion__content h2 {
    font-size: 18px;
    padding: 0 8px 8px;
    color: black;
    font-weight: 300;
}

.accordion__content a {
    /* padding-left: 1rem; */
}

.accordion__content.open {
    /* color: #f8f8f8; */
    padding: 16px 0;
    height: auto;
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s, max-height 500ms;
}

.accordion__content.leaflet-container {
    min-height: 0;
}

.accordion__content.open.leaflet-container {
    min-height: 280px;
    padding: 16px 0;
    height: auto;
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s, max-height 500ms;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .accordian-screenshot-container {
        padding-left: 0rem;
        margin-top: 1rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .accordian-screenshot-container {
        padding-left: 1rem;

    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .accordian-screenshot-container {
        padding-left: 0;
    }
}

/*
@media (max-width: 576px){
  .app-icon{
    margin-bottom: 18px;
  }
}

@media (max-width: 900px){
  .accordian-screenshot-container{
    padding-left: 1rem;
  }
}

@media (max-width: 1200px){
  .app-icon{
    margin-bottom: 18px;
  }

  .accordian-screenshot{
    max-height: 240px;
    max-width: 90%;
  }
} */

/* from this https://css-tricks.com/introduction-reduced-motion-media-query/ */
@media screen and (prefers-reduced-motion: reduce) {

    .accordion__item,
    .accordion__arrow {
        transition: none;
    }
}