.icon-nav
  a(href="/themes").icon-nav__box
    .icon-nav__icon
      svg()
          use(href='/images/icons/home/icons-24px/themes_icon_24px.svg#Layer_1')
          //- <img src='/images/icons/home/icons-24px/themes_icon_24px.svg' alt='Themes icon'> 
    .icon-nav__title  THEMES
  .icon-nav__text  Data related to specific issues

.icon-nav
  a(href="/stories").icon-nav__box
    .icon-nav__icon
      svg()
          use(href='/images/icons/home/icons-24px/stories_icon_24px.svg#Layer_1')
      //- <img src='/images/icons/home/icons-24px/stories_icon_24px.svg' alt='Stories icon'>
    .icon-nav__title STORIES
  .icon-nav__text Narrated data stories about Cork

.icon-nav
  a(href="/queries").icon-nav__box
    .icon-nav__icon
      svg()
          use(href='/images/icons/home/icons-24px/queries_icon_24px.svg#Layer_1')
      //- <img src='/images/icons/home/icons-24px/queries_icon_24px.svg' alt='Queries icon'> 
    .icon-nav__title QUERIES
  .icon-nav__text Answer questions about Cork  

.icon-nav
  a(href="/tools").icon-nav__box
    .icon-nav__icon
      svg()
          use(href='/images/icons/home/icons-24px/tools_icon_24px.svg#Layer_1')
    .icon-nav__title  TOOLS
  .icon-nav__text Perform your own analysis
