.theme
    +theme__header({
      id:'demographics-header',
    title: 'Demographics',
    description: 'Statistical data relating to the population and particular groups within it',
    scrollref: 'population'
    })
    
    +theme__text-chart({
      id:'population',
      sources: [{
      link :'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=CNA13&PLanguage=0',
      name: 'CSO'
      }],
      title:'Population of Cork',
      description: '<p>The population of Cork has grown steadily in the past 100 years, as recorded in the censuses carried out every five years. This growth is a result of natural increase, but is driven in particular by internal national migration and international migration. The city has long had slightly more females than males, largely a function of a difference in average age of death. </p>',
      chartids: ['chart-population', 'chart-population-change', 'chart-population-rate'],
      buttons: [{
      id: 'btn-population',
      name: 'Population'
      },{
      id: 'btn-population-change',
      name: 'Population change'
      },{
      id: 'btn-population-rate',
      name: 'Rate of change (%)'
      }]
      })
    
    //- +theme__text-chart({
    //- id: 'households',
    //- sources: [{
    //- link :'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=CNA33&PLanguage=0',
    //- name: 'CSO'
    //- }],
    //- title: 'Cork Households',
    //- description: '<p>The number of households in Cork has grown with the rise in population, but at an increased pace given a shrinkage in the average size of the household. While the Cork City Council area has remained relatively constant since 1986, the growth in the county has been more dramatic.</p>',
    //- chartids: ['chart-households','chart-household-size'],
    //- buttons: [{
    //- id: 'btn-households',
    //- name: 'Number of households'
    //- },{
    //- id: 'btn-household-size',
    //- name: 'Number of residents'
    //- }]
    //- })
    
    //- +theme__text-chart(
    //- 'population-born-outside-state',
    //- [{
    //- link :'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=CNA31&PLanguage=0',
    //- name: 'CSO'
    //- }],
    //- 'Population Born Outside the State',
    //- '<p>Just over a million people living in the state were born outside of Ireland (17.3%) at the time of the last census in 2016. In cork 330,000 people were born elsewhere. The rate nationally and in cork has been growing since 1996, coinciding with the Celtic Tiger growth in the economy and labour market. The result is the city has become increasingly cosmopolitan.</p><p>The chart excludes members of the population born in Northern Ireland</p>',
    //- '',
    //- ['chart-born-outside-cork','chart-born-outside-state'],
    //- [{
    //- id: 'btn-born-outside-cork',
    //- name: 'cork'
    //- },{
    //- id: 'btn-born-outside-state',
    //- name: 'State'
    //- }]
    //- )
    
    
    
    //- +theme__text-chart(
    //- 'households-composition',
    //- [{
    //- link :'https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=CNA29&PLanguage=0',
    //- name: 'CSO'
    //- }],
    //- 'Households by Number of Persons (2016)',
    //- '<p>***rewrite***</p><p>This chart from the 2016 census shows the number of private permanent households with a given number of persons resident. It is broken down for the 2 Cork local authorities</p> ',
    //- '',
    //- ['chart-households-composition']
    //- )

        
block append scripts
  script(src="/javascripts/themes/demographics/demographics_population.js" type="module")
  //- script(src="/javascripts/themes/demographics/demographics_households.js" type="module")
  //- script(src="/javascripts/themes/demographics/demographics_households_composition.js" type="module")
  //- script(src="/javascripts/themes/demographics/demographics_born_outside_state.js" type="module")
