.theme
    +theme__header('health-header',
    'Health',
    '***health description here***',
    '',
    'health_background.png')

    +theme__text-chart(
    'distance-health-service',
    [{
    link :'https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=MDS01&PLanguage=0',
    name: 'CSO'
    }],
    'Distance to Health Service Resource (2019)',
    '<p>This chart shows the average distance of residential dwellings to selected health services. </p><p>As might be expected, homes in county Cork tend to be further from health resources than in urban areas. It is notable that homes in Cork city tend to have a shorter distance to a HSE hospital equipped for Accident and Emergency (A&E) and Maternity care.</p>',
    '',
    ['chart-distance-health-service']
    )
        
block append scripts
  script(src="/javascripts/themes/health/health_distance_service.js" type="module")
