.theme
    +theme__header('health-header',
    'Health',
    '***health description here***',
    '',
    'health_background.png')

    +theme__text-chart(
    'distance-health-service',
    [{
    link :'https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=MDS01&PLanguage=0',
    name: 'CSO'
    }],
    'Distance to Health Service Resource (2019)',
    '<p>***tbc***</p>',
    '',
    ['chart-distance-health-service']
    )
        
block append scripts
  script(src="/javascripts/themes/health/health_distance_service.js" type="module")
